.square {
  color: transparent;
  margin: 0.5px;
  background: white;
  font-size: 200%;
  height: 1em;
  width: 1em;
  text-align: center;

  /* usually provided by `fa` class */
  display: inline-block;
  line-height: 1em;
  font-family: FontAwesome;
}

.square.pebble.clonable {
  color: red;
}

.square.pebble {
  color: rgba(255, 0, 0, 0.5);
}

#free-the-clones .container {
  display: grid;
  grid-template-columns: 7em 100%;
  grid-template-areas: "undo  board"
                       "moves board";
}

.board {
  display: inline-block;
  padding: 0.5px;
  background-color: lightgray;
}

#board {
  grid-area: board;
}

#move-history {
  grid-area: moves;
}

#undo-controls {
  grid-area: undo;
}
